<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashboard</h1>

                <h3 class="font-bold no-margins">
                   ASP.NET 8.0
                </h3>
                <h3>Projemizin bu panelinde admin işlemleri bir area yapısı üzerinden gerçekleşmektedir.<br /> 
                Sol tarafta yer alan sidebardan yardım menüsüne ulaşıp takıldığınız noktalar ile yardım alabilirsiniz.</h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h2 class="font-bold no-margins">
                    Son Eklenen Blog
                </h2>
                <h3 class="font-bold">@ViewBag.v1</h3>
                <br />
                <h3><a href="/">Tüm Bloglar</a></h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Half-year revenue margin
                </h3>
                <small>Sales marketing.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>