@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Yazar Sil</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
<br />
<div id="writerlist">
 
</div>
<br />
<div id="writerget">
 
    <br />
</div>
<div>
    <input type="text" id="writerid" placeholder="Yazar ID Değerini Giriniz.." class="form-control" />
</div>
<br />
<div id="btnaddwriter">
    <input type="text" class="form-control" id="txtwriterid" placeholder="Yazar ID" />
    <br />
    <input type="text" class="form-control" id="txtwritername" placeholder="Yazar Name" />
    <br />
</div>
<div>
    <input type="text" class="form-control" id="txtid" placeholder="Silinecek Yazar ID" />
</div>
<br />
<div>
    <input type="text" id="txtid1" class="form-control" placeholder="Güncellenecek ID" />
    <br />
    <input type="text" id="txtwritername" class="form-control" placeholder="Güncellenecek Name" />
</div>
@section scripts {
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: `/Admin/Writer/WriterList/`,
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<div class='ibox-title'><h5>Yazar Listesi</h5></div><div class='ibox-content'><table class='table'><thead><tr><th> Yazar ID</th> <th> Yazar Adı </th></tr></thead>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.ID}</td> <td>${value.Name}</td></tr>`;
                    });
                    tablehtml += "</table></div>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });
        $("#btngetbyid").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: `/Admin/Writer/GetWriterByID/`,
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);

                    let getvalue = `<table class=table table-bordered>
                                                                            <tr> <th>Yazar ID</th>  <th>Yazar Adı</th> </tr>
                                                                            <tr>
                                                                            <td>${w.ID}</td>
                                                                            <td>${w.Name}</td>
                                                                            </tr>
                                                                            </table>
                                                                            `;
                    $("writerget").html(getvalue);
                }
            })

        });


        $("#btnaddwriter").click(function){
            let writer = {
                ID: $("#txtwriterid").val(),
                Name: $("#txtwritername").val(),
            };
            $ajax({
                type: "POST",
                url: `/Admin/Writer/AddWriter/`,
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar Ekleme İşlemi Başarılı bir şekilde Gerçekleşti.");
                }

            });
        }
        $("#btndeletewriter").click(x => {
            let id = $("#txtid").val();
            $.ajax(){
                url: `/Admin/Writer/DeleteWriter/` + id,
                    type : "POST",
                        dataType: "Json",
                            success: function (func) {
                                alert("Yazar Silme İşlemi Başarılı bir şekilde Gerçekleşti.");
                            }
            });
                        });

        $("#btnupdatewriter").click(function () {
            let writer = {
                ID: $("#txtid1").val(),
                Name: $("#txtwritername").val(),
            };
            $.ajax({
                type: "POST",
                url: `/Admin/Writer/UpdateWriter/`,
                data: writer,
                success: function (funk) {
                    alert("Yazar Güncelleme İşlemi Başarılı bir şekilde Gerçekleşti.");
                }
            })
        })

    </script>
}
